.image{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding-left: 70px;
  

}

.card{
    background-color: rgb(150, 235, 241);
}

.card-body{
    color: rgb(30, 6, 248);
    /* background-color: rgb(200, 200, 195); */
}
.details{
   width: 80%;
   padding-left: 50px;
}



.text{
    font-weight: 600;
    font-size: 17px;
    color:royalblue;
}

.list-group{
    text-align: left;
}

/* .partner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid red;
    box-shadow: red;
    width: 50%;
    text-align: center;
} */

#rank{
    font-size: 8px;
    color:rgb(241, 0, 0);
}

.btn{
    background-color: rgb(255, 145, 0);
    padding: 5px 80px;
    font-weight: 500;
    font-size: large;
    color:rgb(255, 255, 255);
}